.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    background-color: #4d586e;
    padding: 50px 100px;
}
